# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Folders
bin/
obj/
out/

# NuGet
*.nupkg
packages/
project.lock.json
*.nuget.props
*.nuget.targets

# Logs y backups
*.log
*.DS_Store
*.db
*.backup
*.env

